<div class="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-p">
        <a class="navbar-brand font-weight-bold color-s" routerLink="/">SPA - Ceiba</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav font-weight-bold">
                <a class="nav-item nav-link color-s" routerLink="/inicio" routerLinkActive="active">Inicio</a>
                <a class="nav-item nav-link color-s" routerLink="/citas" routerLinkActive="active">Citas</a>
                <a class="nav-item nav-link color-s" routerLink="/productos" routerLinkActive="active">Productos</a>
            </div>
        </div>
    </nav>
</div>