<section class="container-fluid pt-5">
    <h1 class="text-center color-t"> Nuevo Productos - SPA Ceiba</h1>
    <hr class="color-p divider" />

    <form #ngForm="ngForm" [formGroup]="formularioProducto" (ngSubmit)="guardar()">

        <div class="row">
            <div class="col">
                <label class="color-t">Nombre: </label>
                <input type="text" class="form-control" formControlName="nombre">
                <div class="form-control-feedback text-center"
                    *ngIf="erroresService.errores(formularioProducto, 'nombre', ngForm).hayErrores">
                    Debe ingresar un nombre.
                </div>
            </div>
            <div class="col">
                <label class="color-t">Precio: </label>
                <input type="number" class="form-control" formControlName="precio">
                <div class="form-control-feedback text-center"
                    *ngIf="erroresService.errores(formularioProducto, 'precio', ngForm).hayErrores">
                    Debe ingresar un precio mayor a 0.
                </div>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col">
                <div class="form-group row mt-3">
                    <div class="col-sm-10 color-t">¿La compra de este producto generara un cupón de descuento para la
                        proxima compra?</div>
                    <div class="col-sm-2">
                        <label class="switch">
                            <input type="checkbox" formControlName="generaCupo">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="form-control-feedback text-center"
                        *ngIf="erroresService.errores(formularioProducto, 'generaCupo', ngForm).hayErrores">
                        Debe seleccionar una opción.
                    </div>
                </div>
            </div>
            <div class="col">
                <label class="color-t">Porcentaje de descuento para lap proxima compra: </label>
                <input type="number" class="form-control" formControlName="porcetajeCuponGenerar">
                <div class="form-control-feedback text-center"
                    *ngIf="erroresService.errores(formularioProducto, 'porcetajeCuponGenerar', ngForm).hayErrores">
                    El porcentaje de descuento debe estar entre 0 y 100.
                </div>
            </div>
        </div>

        <br />

        <div class="text-center pb-4">
            <a class="btn btn-primary bg-p text-white mr-2" (click)="volver()"><i class="fas fa-undo"></i> Volver</a>
            <button type="submit" class="btn btn-primary bg-p text-white"><i class="fas fa-save"></i> Guardar</button>
        </div>
    </form>
</section>