<section class="container-fluid pt-5">
    <h1 class="text-center color-t"> Bienvenido a SPA Ceiba</h1>
    <hr class="color-p divider">

    <p>
        SPA Ceiba es una iniciativa de Edwin Gamboa, con el fin de fortalecer los conocimientos obtenidos.
        Aqui usted podra realizar las siguientes acciones:
    </p>

    <ul class="list-group col-4 color-p">
        <li class="list-group-item">Consultas las Citas registradas en el sistema.</li>
        <li class="list-group-item">Registrar una nueva cita en el sistema.</li>
        <li class="list-group-item">Consultar los Productos registrados en el sistema</li>
        <li class="list-group-item">Registrar un nuevo Producto el sistema</li>
        <li class="list-group-item">Consultar un Cupon especifico que este registrado</li>
    </ul>

</section>