<section class="container-fluid pt-5">
    <h1 class="text-center color-t"> Bienvenido a SPA Ceiba</h1>
    <hr class="color-p divider">

    <p>
        SPA Ceiba es una iniciativa de Edwin Gamboa para el ADN Ceiba, con el fin de fortalecer los conocimientos
        obtenidos.
    </p>
    <p class="pb-4">
        <span class="font-weight-bold color-t">Descripción:</span><br />

        <li>Estas citas solo pueden ser tomadas de Lunes a Sábado.</li>
        <li>Estas citas no pueden ser tomadas para el dia actual</li>
        <li>Estas reservas pueden ser para cualquier producto registrado</li>
        <li>Cada producto registrado cuenta con su propio valor</li>
        <li>Cada producto puede o no generar un cupón para futuras compras</li>
        <li>El porcentaje de descuento del cupón a generar puede variar para cada producto</li>
        <li>En las compras en que se usa un cupón de descuento no generará un nuevo cupón</li>
        <br />
        Para dar solución a este problema se hizo uso de un Back en Java y el Front en Angular.<br />
        Adicionalmente, el MER utilizado para este aplicativo es:<br /><br />
        <span class="d-flex justify-content-center pb-4">
            <img class="img-fluid" src="assets/images/MER.png" alt="Imagne Modelo Entidad Relacion">
        </span>
    </p>

</section>